<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <h2>Projects in this category:</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <strong><a href="/project/<%= project.project_id %>"><%= project.title %></a></strong><%= project.description %>
                    <br>
                    Location: <%= project.location %>
                    <br>
                    Date: <%= project.date %>
                </li>
            <% }); %>
            <a href="/categories">Back to Categories</a>    
        </ul>
    </main>
<%- include('partials/footer') %>