<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p><strong>Description:</strong> <%= organization.description %></p>
        <p><strong>Contact Email:</strong> <a href="mailto:<%= organization.contact_email %>"><%= organization.contact_email %></a></p>
        
        <img src="/images/<%= organization.logo_filename %>" alt="Logo de <%= organization.name %>">
        
        <h2>Projects in this organization:</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <strong><a href="/project/<%= project.project_id %>"><%= project.title %></a></strong><%= project.description %>
                    <br>
                    Location: <%= project.location %>
                    <br>
                    Date: <%= project.date %>
                </li>
            <% }); %>  
        </ul>
        <br>
        <a href="/projects">Back to Projects</a> | <a href="/organizations">View all Organizations</a> | 
        <% if (user && user.role_name === 'admin') { %>
        <a href="/edit-organization/<%= organization.organization_id %>">Edit Organization</a>
        <% } %>

    </main>
<%- include('partials/footer') %>