<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><strong><%= project.project_title %></strong><%= project.project_description %>
                <br>
                Location: <%= project.project_location %>
                <br>
                Date: <%= project.project_date %></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>